.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #91daee;


}

.login.container {
    background-color: transparent;
    border: none;

}

.login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.formWrapper {
    margin-top: 108px;
}



form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

.loginText {
    font-family: 'Josefin Sans', sans-serif;

}

#usernameText,
#passwordText,#emailText {
    font-family: 'Josefin Sans', sans-serif;

}

#username,
#password,#email {
    border-radius: 7px;
}
.submit{
    text-decoration: none;
    color:white;
}

.error{
    margin: 10px 0;
    color: red;
    font-weight: bolder;
    border-radius: 7px;
    justify-content: center;
}